body .content {
    margin: 30px auto;
    width: 715px;
    background-color: #f1f1f1;
    padding: 20px 0 30px 150px;
}

div.provider {
    margin-bottom: 0.5em;
}

span.provider_name {
    margin-left: 1em;
}

div#issues {
    margin-top: 2em;
}
