body {
    margin: 0px;
    padding: 1em;
    min-width: 25em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#container {
    text-align: right;
}

.hack {
    display: inline-block;
    margin-right: -1em;
}

.alternatives {
    opacity: 0.5;
    display: inline-block;
    margin-left: 1em;
}

