body {
    margin: 0px;
    padding: 1em;
    min-width: 25em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#container {
    /* text-align: right; */
}

.alternatives {
	opacity: 0.5;
}

